body {
  margin: 0;

}
header {
  text-align: center;
  margin: 20px auto 20px auto;
  width: 940px;
}

   	.konten {
   	position: relative;
    overflow: hidden;
    text-align: left;
    margin: 20px auto 20px auto;
    width: 940px;

  
  }


  select {
  	height: 30px;
  }

  footer {

  	text-align : right;
  	margin: 20px auto 20px auto;
    width: 940px;
  }
  footer input{
  	width: 150px;
  	padding: 15px;
  	border: 1px solid black;
  	float: right;
  	cursor: pointer;
  	background-color: white;

  }


}

  


